# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

# Visual Studio Code
.vscode/
.history/

# Rider
.idea/

# DotCover
*.dotCover

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
*.dll
*.exe
*.app
*.log
*.vspscc
*.vssscc
*.dbmdl

# Publish folders
publish/
out/

# EF Core Migrations snapshot
*MigrationsSnapshot.cs

# Dotnet-specific
project.lock.json
project.fragment.lock.json
artifacts/

# Npm/Yarn
node_modules/
dist/
npm-debug.log
yarn-error.log

# Other
_ReSharper*/
*.ncrunch*
*.localhistory*
*.sublime-workspace
*.sublime-project

# Mac junk
.DS_Store

# Windows junk
Thumbs.db
desktop.ini

# JetBrains Rider and WebStorm junk
.idea/
*.iml
/.vs/ProjectEvaluation
/.vs/ShortLinkBackend/v17/TestStore/0
/.vs/ShortLinkBackend/v17/.futdcache.v2
/.vs/ShortLinkBackend/v17/DocumentLayout.backup.json
/.vs/ShortLinkBackend/v17/DocumentLayout.json
/.vs/ShortLinkBackend/FileContentIndex
/.vs/ShortLinkBackend/DesignTimeBuild
/.vs/ShortLinkBackend/config
